<ion-header>
  <ion-toolbar>
    <ion-title>Todo List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-sliding *ngFor="let task of Tasks" lines="full">
    <ion-item>
      <ion-label>
        <strong>{{task.title}}</strong>
        <p>{{task.description}}</p>
      </ion-label>
    </ion-item>
    <ion-item-options>
      <ion-button color="primary" size="large" [routerLink]="['/update-todo/',task.id]">
        <ion-icon slot="icon-only" name="create"></ion-icon>
      </ion-button>
      <ion-button color="danger" size="large" (click)="remove(task.id)">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-item-options>
  </ion-item-sliding>
</ion-content>
