<ion-header [translucent]="true">
<ion-toolbar> 
<ion-title>
  
TODOApp
</ion-title>
</ion-toolbar>

</ion-header>


<ion-content [fullscreen]="true">
<ion-header collapse="condense">
<ion-toolbar>
<ion-title size="large">TODOApp </ion-title > 
</ion-toolbar>
</ion-header>
<body style="background-color:#000dff2c;">

<div id="container">
<strong>! Welcome and enjoy  TODOApp! </strong>
<p>It´s an app created by Santiago Yangana, Cristian Pinto and Laura Sofía Daza </p>
<p>You can create some tasks or modify that you have them </p>

</div>
</body>
</ion-content>


